.page{
    width:90vw;
    height: 90vh;
    border:1px solid white;
    margin: 5vw;
}

.svg-canvas {
    position: relative;
    pointer-events: auto;
    z-index: 10;
    width: 90vw;
    height: 20vh;
  }

  .currentSubtitle {
    color: white;
  }